@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(82, 82, 82);
}
button a{
    color: white;
}
body{
    background-color:#E2E4F6;
}
/*--------- Cabecalho-----*/
#header{
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
    background-color: white;
    border-bottom: 3px solid #0EA19B;
}
#headerContra{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #0EA19B;
    visibility: hidden;
}
#header img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32%;
    padding: 10px 0;
}
#headerContra img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32%;
    padding: 10px 0;
}
/*--------Container principal-----*/
#idMain{
    display: block;
    position: relative;
    width: 100%;
    background-color:#E2E4F6;
    color:#E6E7E8 ;
}
/*------------------------------------------NAV topo-----*/
#cxnav{
    background-color: #0EA19B;
    position: fixed;
    display: block;
    width: 100%;
    z-index: 2;
}
#cxnav #navh1{
    font-family: Arial;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 100%;
    text-align: center;
    color: white;
}
#cxnav #navul{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
#cxnav .navli{
    flex: 1 1 auto;
    display: block;
    position:relative;
    text-align: center;
    margin: 5px;
    background-color: white;
    padding: 5px 0px;
    font-size: 90%;
    font-family: Arial;
    font-weight: bold;
    color: rgb(71, 71, 71);
    border-radius: 5px;
    border-bottom: 3px solid rgb(82, 82, 82);
    border-right: 3px solid rgb(82, 82, 82);
}
/*-------Catalogo-------*/
/*------Contra-NAV topo-----*/
#contraCxnav{
    position: relative;
    display: block;
    width: 100%;
}
#contraCxnav #navh1{
    font-family: Arial;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 100%;
    text-align: center;
    color: white;
}
#contraCxnav #navul{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
#contraCxnav .navli{
    flex: 1 1 auto;
    display: block;
    position:relative;
    text-align: center;
    margin: 5px;
    background-color: white;
    padding: 5px 0px;
    font-size: 90%;
    font-family: Arial;
    font-weight: bold;
    color: rgb(71, 71, 71);
    border-radius: 5px;
    border-bottom: 3px solid rgb(82, 82, 82);
    border-right: 2px solid rgb(82, 82, 82);
}
/*-------Catalogo-------*/

#h1info{ /*Titulo das categorias*/
    
    font-family: Arial;
    font-weight: 800;
    color: #0EA19B;
    background-color: white;
    margin-top: 0px;
    font-size: 135%;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-top: 4px solid #0EA19B;
    border-bottom: 4px solid #0EA19B;
}


#cxinfo,#cxCell,#cxJob{
    /*
    Caixa de categoria
    Vai controlar os itens
    */
    width: 100%;
    margin: 0 auto;
    position: relative;
    display:flex; /*Item vai ser flex*/
    flex-wrap: wrap;
}

.cxitem{
    background-color: white;
    border: 2px solid rgb(136, 136, 136);
    flex: 1 1 200px;
    max-width: 260px;
    position: relative;
    display: block;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 5px;
}

.cxitem img{
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.cxitem h2{
    font-family: Arial;
    font-size: 85%;
    text-align: left;
    color: #1c0a3a;
    margin:8px auto;
}
.cxitem h3{
    font-family: Gadugi, Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-align: left;
    color: rgb(99, 99, 99);
    margin: 0 0 40px auto;

}

.cxitem button{
    position: absolute;
    font-size: 90%;
    display: block;
    width: 47%;
    bottom: 15px;
    left: 20px;
    padding: 5px 0;
    font-weight: bolder;
    background-color: #0EA19B;
    color: white;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #595959;
    border-right: 2px solid #595959;
}
.cxitem button:focus {
        border-top: 3px solid #595959;
        border-left: 2px solid #595959;
        border-bottom: none;
        outline: none;
        border-right: none;
    }

/*Roda pé*/
#idfooter{
    background-color: #0EA19B;
    display: block;
    position: relative;
    width: 100%;
    padding:15px 0;
    z-index: 1;
}
#idfooter h2, #idfooter  ul{
    flex: 1 1 25%;
    color: white;
    font-family: Arial;
    font-size: 80%;
    list-style: none;
    padding: 10px;
}
#idfooter h2{
    text-align: center;
}
#idfooter  ul{
    display: flex;
    flex-wrap: nowrap;
}
#tels li{
    flex: 1 1 30%;
    background-color: white;
    border: 2px solid rgb(117, 117, 117);
    padding: 2px;
    color: rgb(68, 68, 68);
    font-weight: bolder;
    font-size: 100%;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}

/*                                    / / / / / /  */

#cxinfo .codSp{
    font-size: 70%;
    font-weight: bolder;
    background-color: #595959;
    border: 1px solid #595959;
    padding: 0 2px;
    display: block;
    color: white;
    position: absolute;
    bottom: 16px;
    text-align: center;
    width: 40px;
    border-radius: 3px;
    right:  20px;
}
#cxCell .codSp{
    font-size: 70%;
    font-weight: bolder;
    background-color: #595959;
    border: 1px solid #595959;
    padding: 0 2px;
    display: block;
    color: white;
    position: absolute;
    bottom: 16px;
    text-align: center;
    width: 40px;
    border-radius: 3px;
    right:  20px;
}
#cxJob .codSp{
    font-size: 70%;
    font-weight: bolder;
    background-color: #595959;
    border: 1px solid #595959;
    padding: 0 2px;
    display: block;
    color: white;
    position: absolute;
    bottom: 16px;
    text-align: center;
    width: 40px;
    border-radius: 3px;
    right:  20px;
}
@media only screen and (max-width: 600px) {
    .cxitem{
        margin: 10px auto;
    }
}
@media only screen and (min-width: 600px) {
    #header img{
        width: 27%;
    }
    #headerContra img{
        width: 27%;
    }
  }
  @media only screen and (min-width: 1000px) {
    #header img{
        width: 12%;
    }
    #headerContra img{
        width: 12%;
    }
  }


  /*redes sociais */
  #redesSociais{
      position: fixed;
      display: block;
      right: 0;
      width: 0%;
      top: 50%;
      background-color: transparent;
      z-index: 1;
      border-radius: 8px 0 0 8px ;
  }
  #redesSociais ol{
      list-style: none;
  }
  #redesSociais ol li{
      padding: 2px;
  }
  #redesSociais ol li img{
      width: 95%;
      position: relative;
  }


  #whatsCb{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 35.5px;
}
#whatsCb img{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 0px 10px 10px 10px;
    top: 10px;
    left: 10px;
}
