@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
/*--------- Cabecalho-----*/
#header{
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid #0EA19B;
}
#headerContra{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #0EA19B;
}
#header img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32%;
    padding: 10px 0;
}
#headerContra img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32%;
    padding: 10px 0;
}
/*--------Container principal-----*/
#idMain{
    display: block;
    position: relative;
    width: 100%;
    background-color:#E6E7E8;
    color:#E6E7E8 ;
}
/*-------NAV topo-----*/
#cxnav{
    background-color: #0EA19B;
    position: relative;
    display: block;
    width: 100%;
}
#navh1{
    font-family: Arial;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 144%;
    text-align: center;
    color: white;
}
#navul{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin:0 15px;
}
.navli{
    flex: 1 1 30%;
    display: block;
    position:relative;
    text-align: center;
    margin: 0px 5px 10px 5px;
    background-color: white;
    padding: 5px 10px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(43, 43, 43);
    border-radius: 5px;
}
/*-------Catalogo-------*/

#h1info{ /*Titulo das categorias*/
    
    font-family: Arial;
    font-weight: 800;
    color: #0EA19B;
    background-color: white;
    margin-top: 0px;
    font-size: 135%;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-top: 4px solid #0EA19B;
    border-bottom: 4px solid #0EA19B;
}


#cxinfo,#cxCell,#cxJob{
    /*
    Caixa de categoria
    Vai controlar os itens
    */
    width: 100%;
    margin: 0 auto;
    position: relative;
    display:flex; /*Item vai ser flex*/
    flex-wrap: wrap;
}

.cxitem{
    background-color: white;
    border: 1px solid rgb(66, 66, 66);
    flex: 1 1 290px;
    position: relative;
    display: block;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.cxitem img{
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.cxitem h2{
    font-family: Arial;
    font-size: 120%;
    text-align: center;
    color: rgb(66, 66, 66);
}

.cxitem button{
    font-size: 100%;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5px 0;
    border: 1px solid #005f5c;
    font-weight: bolder;
    background-color: #0EA19B;
    color: white;
    border-radius: 5px;
}
/*Roda pé*/
#idfooter{
    background-color: #0EA19B;
    display: block;
    position: relative;
    width: 100%;
    padding:15px 0;
}
#idfooter h2, #idfooter  ul {
    flex: 1 1 25%;
    color: white;
    font-family: Arial;
    font-size: 80%;
    list-style: none;
    padding: 10px;
}
#idfooter h2{
    text-align: center;
}
#idfooter  ul{
    display: flex;
    flex-wrap: nowrap;
}
#tels li{
    flex: 1 1 30%;
    background-color: white;
    border: 2px solid rgb(117, 117, 117);
    padding: 2px;
    color: rgb(68, 68, 68);
    font-weight: bolder;
    font-size: 12pt;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}



/*                                    / / / / / /  */

#cxinfo #codSp{
    font-size: 70%;
    font-weight: bolder;
    background-color: #E6E7E8;
    border: 1px solid #acacac;
    padding: 0 2px;
    display: block;
    position: relative;
    float: right;
}
@media only screen and (min-width: 600px) {
    #header img{
        width: 27%;
    }
    #headerContra img{
        width: 27%;
    }
  }
  @media only screen and (min-width: 1000px) {
    #header img{
        width: 12%;
    }
    #headerContra img{
        width: 12%;
    }
  }
